*Mudança para toda a página*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }


/*Layout de todo conteúdo do body*/
body
{
    color:white;
    font-family:'Merriweather Sans';
    overflow-x:hidden;

}



/*Layout do texto que está no cabeçalho*/
.cabecalho
{
    color:rgb(255, 253, 253);
    font-family:sans-serif;
    display:flex;
    justify-content:space-between;
    /*align-items: center;*/
    padding: 16px;
    list-style-type:none;
}

.divretangulo
{
    background-color:rgb(43, 37, 26);
    top: 0;
    left: 0;
    width: 100%; /* 50% da largura da janela do navegador */
    height: 15%; /* 50% da altura da janela do navegador */
}

.divmenu
{
    background-color:rgba(255, 255, 255, 0.675);
    display:flex;
    width: 8vh;
    height: 6vh;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    border-radius: 10px;  
}

.divlog
{
    background-color:rgba(255, 255, 255, 0.675);
    display: flex;
    width: 25vh;
    height: 6vh;
    align-items: center;
    border-radius:10px;
    justify-content:center;

}

.divobj
{
    text-align: center;
    font-size: 3.5vh;
    font-weight:bold;
}
.spaceL
{
    margin-right: 7px;
}
.spaceC
{
    color:rgba(248, 134, 34, 0.875);
    margin-left: 7px;
    font-weight: bold;
}

.linha-separadora 
{
    border: 0.2vh solid white; /* Adicione uma borda à esquerda */
    margin:  0.5vh; /* Adicione margem para dar espaço entre os elementos */
  
}


li, a 
{
    color:white;
    
}

/*A main serve para definir o conteúdo principal da página*/
main 
{
    display:flex;
    justify-content:right;
    
}

/*Caixa de texto de "bem vindo..." da interface*/
.divobjetivo
{
    
    background-color: rgba(0, 0, 0, 0.793);
    font-family: 'Merriweather Sans';/*fonte utilizada*/
    text-align: justify;/*texto justificado*/
    align-items: center;/*controlar o alinhamento vertical*/
    margin-top: 50px;/*controlar o espaço ao redor de um elemento */
    padding: 20px;/*o espaço entre o conteúdo do elemento e suas bordas*/
    border-radius: 20px;/*borda arredondada*/
    width: 43vh; /* Largura desejada */
    height: 55vh; 
    line-height:22px;/*controla a altura da linha de texto dentro de um elemento*/
    position:absolute;
    margin-right: 150px;
    justify-content:center;
}

.banner{
    background:  url("imgs/pg_fundo.jpeg") no-repeat ;
    background-size:cover ;
    background-position: unset;
    width: 100vw;
    height: 100vh;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    position:relative;
}