*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
        
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: auto;
    
}

.cabecalho {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 80px;
    width: 100vw;
    background-color:#2c231c;
    font-family: work sans;
    font-size: 50px;
        
}

.pesquisa {
    height: 45px;
    width: 10px;
    margin: 20px;
    padding: 30px, 0px, 50px, 30px;
}

#ps {
    height: 35px;
    width: 38px;
    margin: 10px;
    padding: 0;
}

.logoPrincipal {
    margin-left: 2%;
    text-align: center;
        
}

.logoPrincipal span {
    
    display: inline-block;
    font-weight: bold;
}


.navbar {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    padding: 0px;
    margin-right: 55px;
    background-color: #2c231c;
}

.hamburguer-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    transition: transform 0.4s ease;
}

.menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 8px;
    font-size: 15px;
}

.menu.active {
    display: block;
}


a {
    color: #ff6000; /* Define a cor do texto do link */
    text-decoration: none; /* Remove o sublinhado padrão */
    font-weight: bold; /* Torna o texto em negrito */
}

a:hover {
    color: #ff6000; /* Muda a cor do texto quando o mouse está sobre o link */
    text-decoration: underline; /* Adiciona um sublinhado quando o mouse está sobre o link */
}

#lg a {
    color: white;

}

#logo {
    color: white;

}

#logo2 {
    color:#ff6000;
}




body {
    font-family: Arial, sans-serif;
    background-color: #ffa559;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile-container {
    background:#ffe6c7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    padding: 0;
    margin: 1% 30% 1% 30%;
    box-sizing: border-box;
    
    
}

.profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
    color: #454545;
    font-family: merriweather;
    font-weight: bolder;
   
    
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    position: relative;
    margin-bottom: 20px;
}

.profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.upload-button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff6000;
    color: #454545;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

.upload-button:hover {
    background-color: #ffa559;
}

.form-group {
    width: 145%;
    margin-bottom: 15px;
    color: #454545;
    font-weight: bold;
    padding: 0;
    justify-content: center;
}


.modal .form-group {
    width: 100%;
    margin-bottom: 15px;
    color: #454545;
    font-weight: bold;
    padding: 0;
    justify-content: center;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input, .form-group select, .form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input, .form-group select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}

#alterar-senha, .form-group button[type="submit"] {
    background-color: #ff6000;
    color: #454545;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    width: calc(100% - 20px);
    font-weight: bold;
}

#alterar-senha:hover, .form-group button[type="submit"]:hover {
    background-color: #ffa559;
}

.form-group button[type="button"] {
    background-color: #28a745;
    margin-bottom: 15px;
}

.form-group button[type="button"]:hover {
    background-color: #218838;
}

/* Estilos para o modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


footer {
    background-color: #2c231c;
    padding: 30px;
    
}
.rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
        color:white;
        padding: 0;
        margin: 0;
            
    }
    
     
    #logo-rodape {
        display: block;
        height: 100x;
        width: 150px;
        margin: 0;
        padding: 10px;
    }    

