*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*Layout de todo conteúdo do body*/
body
{
    font-family:'Merriweather Sans', Arial, Helvetica;
    overflow-x:hidden;
}

/*Layout do texto que está no cabeçalho*/
.cabecalho
{
    color:rgb(255, 253, 253);
    font-family:'Merriweather Sans', Arial, Helvetica;
    display:flex;
    justify-content:space-between;
    padding: 1.5%;
    list-style-type:none;
}

.divretangulo
{
    background-color:rgb(43, 37, 26);
    top: 0;
    left: 0;
    width: 100%; /* 50% da largura da janela do navegador */
    height: 15%; /* 50% da altura da janela do navegador */
    position: fixed;
    z-index: 9999999999;
}

.divmenu
{
    background-color:rgba(255, 255, 255, 0.675);
    display:flex;
    width: 8vh;
    height: 6vh;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    border-radius: 15%;
    cursor: pointer;
}

/* CSS MENU LATERAL - AINDA INCOMPLETO!! (JONATHAN) */
.menu-aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: opacity 350ms ease;
}

.menu-aside.active {
    opacity: 1;
    pointer-events: auto;

}

.menu-aside.active .menu-aside-content {
    transform: none;
}

.menu-aside-layer {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu-aside-content {
    background-color: rgb(43, 37, 26);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateX(-100%);
    transition: transform 350ms ease;
}

@media only screen and (min-width:768px) {
    .menu-aside-content{
        width: 320px;
    }
}

.divlog
{
    background-color:rgba(255, 255, 255, 0.675);
    display: flex;
    width: 25vh;
    height: 6vh;
    align-items: center;
    border-radius:10px;
    justify-content:center;
}

.divobj
{
    text-align: center;
    font-size: 3.5vh;
    font-weight:bold;
}

.spaceL
{
    margin-right:2%;
}

.spaceC
{
    color:rgba(248, 134, 34, 0.875);
    margin-left:2%;
    font-weight: bold;
}

.linha-separadora 
{
    border: 0.2vh solid white; /* Adicione uma borda à esquerda */
    margin:  0.5vh; /* Adicione margem para dar espaço entre os elementos */
}

li, a 
{
    color:white;  
}


.sectionBanner{
    display:flex;
    justify-content:right;
}

/*Caixa de texto de "bem vindo..." da interface*/
.divobjetivo
{
    background-color: rgba(0, 0, 0, 0.793);
    font-family: 'Merriweather Sans';/*fonte utilizada*/
    text-align: justify;/*texto justificado*/
    align-items: center;/*controlar o alinhamento vertical*/
    margin-top: 9%;/*controlar o espaço ao redor de um elemento */
    padding: 1%;/*o espaço entre o conteúdo do elemento e suas bordas*/
    border-radius: 5%;/*borda arredondada*/
    width: 20%; /* Largura desejada */
    height: 55%; 
    line-height:133%;/*controla a altura da linha de texto dentro de um elemento*/
    position:absolute;
    margin-right: 10%;
    justify-content:center;
    padding-top: 2.5%;
    color:white;
}

.banner
{
    background:url("../img/pg_fundo.jpeg") no-repeat ;
    background-size:cover ;
    background-position: unset;
    width: 100vw;
    height: 100vh;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    position:relative;
}

/*layout para telas de smartphones Ana */
@media only screen and (min-width:400px) and (max-width:600px)
{
    .divretangulo
    {
        width:100%;
        height: 9%;
        padding:0%;
    }

    .divobj
    {
        font-size:75%;
        margin-left:10%;
        
    }

    .divlog
    {
        width:26.3%;
        height:10%;
        font-size:70%;
        padding:2%;
    }

    .divmenu
    {
        width:1.6em;
        height: 1.5em;
        padding:1%;
        padding-right:1.8%;
    }

    .divobjetivo
    {
        font-size:69%;
        width:60%;
        height:40%;
        font-family: 'Merriweather Sans', Arial, Helvetica;
        padding-top:4%;
        margin-top:20%;
    }

    .banner
    {
        background-size: cover;
        background-position: center;
    }
}


/* O código abaixo foi escrito por Jonathan, ajustes feitos para integrar certinho*/
.container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

@media only screen and (min-width:768px){
    .container{
        max-width: 750px;
    }
}
@media only screen and (min-width:992px){
    .container{
        max-width: 950px;
    }
}
@media only screen and (min-width:1200px){
    .container{
        max-width: 1050px;
    }
}
@media only screen and (min-width:1600px){
    .container{
        max-width: 1340px;
    }
}


/* Secao de Apresentacao do projeto, logo abaixo do banner */
.sectionPresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
}

.boxImage img{
    max-width: 100%;
    display: block;
    height: auto;
    width: 200px;
}

.boxText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
}

.boxText h3{
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.boxText p{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

@media only screen and (min-width:700px){
    .sectionPresentation {
        flex-direction: row;
    }
    .boxImage{
        width: 60%;
    }
    .boxImage img{
        width: 300px;
    }
    
    .boxText{
        width: 40%;
    }
}

/*Secao de apresentacao dos tipos de usuarios*/

.sectionUserType{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background-image: url('../img/connectfit-background-user.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionUserType h3{
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.listUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 20px;
}

.listUser .boxUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 20px;
    border-radius: 25px;
}

.boxUser.practitioner{
    background-color: #FF6000;
    margin-bottom: 20px;
}

.boxUser.pro{
    background-color: #FFA559;
}

@media only screen and (min-width:520px){
    .sectionUserType{
        background-size: contain;
    }
    .listUser{
        flex-direction: row;
    }
    .listUser .boxUser{
        width: calc(100% / 2 - 25px);
    }
    .boxUser.practitioner{
        margin-bottom: 0;
    }
}

.boxUser h4{
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.boxUser span{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.boxUser p{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.buttonArea{
    margin: 20px;
}

.buttonArea a{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding: 15px 35px;
    color: #fff;
    background-color: #06A0BC;
    border-radius: 50px;
    transition: background-color .350s ease;
}

.buttonArea a:hover{
    background-color: #035d6d;
}

/*Secao de demonstracao de atividades de usuarios*/

.sectionActivities{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
}

.sectionActivities .activity{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.titleActivity{
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.listActivities{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    margin-bottom: 50px;
}

.itemActivity{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-radius: 25px;
}

.itemActivity:last-child{
    margin-bottom: 0;
}

.itemActivity.pro .imgActivity img{
    border-radius: 25px 25px 0 0;
    max-width: 100%;
    display: block;
    height: auto;
}

.itemActivity.practitioner h4{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0 0 0;
}

.itemActivity.practitioner p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 30px 20px 0 20px;
}

.itemActivity .userId{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 15px;
}

.itemActivity .userId img{
    border-radius: 50px;
    width: 45px;
}

.itemActivity .userId .itemDescription{
    margin-left: 20px;    
}
.itemActivity .userId h5{
    font-size: 16px;
    font-weight: 600;     
}

.itemActivity .userId span{
    font-size: 13px;
    font-weight: 400;
}

.itemActivity.practitioner{
    background-color: #FF6000;
}


.itemActivity.pro{
    background-color: #FFA559;
}

@media only screen and (min-width:768px){
    .listActivities{
        flex-direction: row;
    }
    .listActivities .itemActivity{
        width: calc(100% / 3 - 15px);
        margin-bottom: 0;
    }
}

.sectionBannerFooter picture source{
    max-width: 100%;
    display: block;
    height: auto;
}
.sectionBannerFooter picture img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*Rodape do site*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0 20px;
    background-color: #2B241C;
}

.logoFooter img{
    max-width: 100%;
    display: block;
    height: auto;
    width: 150px;
}

.bottomFooter{
    padding-top: 20px;
}

.bottomFooter p{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}