*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
        
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: auto;
    
}

.cabecalho {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 80px;
    width: 100vw;
    background-color:#2c231c;
    font-family: work sans;
    font-size: 50px;
        
}

.pesquisa {
    height: 45px;
    width: 10px;
    margin: 20px;
    padding: 30px, 0px, 50px, 30px;
}

#ps {
    height: 35px;
    width: 38px;
    margin: 10px;
    padding: 0;
}

.logoPrincipal {
    margin-left: 2%;
    text-align: center;
        
}

.logoPrincipal span {
    
    display: inline-block;
    font-weight: bold;
}


.navbar {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    padding: 0px;
    margin-right: 55px;
    background-color: #2c231c;
}

.hamburguer-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    transition: transform 0.4s ease;
}

.menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 8px;
    font-size: 15px;
}

.menu.active {
    display: block;
}


a {
    color: #ff6000; /* Define a cor do texto do link */
    text-decoration: none; /* Remove o sublinhado padrão */
    font-weight: bold; /* Torna o texto em negrito */
}

a:hover {
    color: #ff6000; /* Muda a cor do texto quando o mouse está sobre o link */
    text-decoration: underline; /* Adiciona um sublinhado quando o mouse está sobre o link */
}

#lg a {
    color: white;

}

#logo {
    color: white;

}

#logo2 {
    color:#ff6000;
}

.section {
    padding: 60px;
    border: none;
}

.left {
    flex: 1;
    max-width: 20%;
    text-align: center;
    background-color: #ffa559;
}

.middle > h2 {
    text-align: left;
    color:#ff6000;
    font-family: work-sans;
    font-size: 40px;
    margin-top: 35px;
}

.middle > h1 {
    font-family: work-sans;
    color: #ff6000;
    font-size: 55px;

}

.middle > p {
    font-family: merriweather;
    color: #454545;
    font-size: 25px;
}

.middle > p {
    text-align: left;
    font-family: merriweather;
    line-height: 1.5;
    
}

.middle {
    flex: 1;
    max-width: 40%;
    text-align: right;
    background-color: #ffe6c7;
    padding-top: 50px;
    padding-right: 0;
}

.right {
    flex: 1;
    max-width: 40%;
    background-color: #ffe6c7;
    
}

.right > h2 {
    text-align: left;
    color:#ff6000;
    font-family: work-sans;
    font-size: 40px;
    margin-top: 95px;
    
}    

.right > p {
    font-family: merriweather;
    color: #454545;
    font-size: 25px;
    line-height: 1.5;
}    

.right > h4 {
    font-family: work-sans;
    color:#454545;
    font-size: 30px;
}

.botaoDados  {
    background-color: #ff6000; /* Cor de fundo */
    color: #454545; /* Cor do texto */
    padding: 10px 25px; /* Espaçamento interno (vertical, horizontal) */
    border: none; /* Sem borda */
    border-radius: 15px; /* Cantos arredondados */
    cursor: pointer; /* Cursor de mão ao passar por cima */
    font-size: 16px; /* Tamanho do texto */
    text-align: center;
    margin: 15px
    
    
}

.botaoDados a {
    color:#454545;
    text-decoration: none;
}

.botaoDados:hover {
    background-color: #ffe6c7; /* Cor de fundo ao passar o mouse por cima */
}

.botaoAulas {
    background-color: #ff6000; /* Cor de fundo */
    color: #454545; /* Cor do texto */
    padding: 10px 25px; /* Espaçamento interno (vertical, horizontal) */
    border: none; /* Sem borda */
    border-radius: 15px; /* Cantos arredondados */
    cursor: pointer; /* Cursor de mão ao passar por cima */
    font-size: 16px; /* Tamanho do texto */
    text-align: center;
    margin: 15px

}

.botaoAulas a {
    color:#454545;
    text-decoration: none;
}

.botaoAulas:hover {
    background-color: #ffe6c7;
}

.botaoProfissionais {
    background-color: #ff6000; /* Cor de fundo */
    color: #454545; /* Cor do texto */
    padding: 10px 25px; /* Espaçamento interno (vertical, horizontal) */
    border: none; /* Sem borda */
    border-radius: 15px; /* Cantos arredondados */
    cursor: pointer; /* Cursor de mão ao passar por cima */
    font-size: 16px; /* Tamanho do texto */
    text-align: center;
    margin: 15px;
}

.botaoProfissionais a {
    color:#454545;
    text-decoration: none;
}

.botaoProfissionais:hover {
    background-color: #ffe6c7;
}

footer {
    background-color: #2c231c;
    padding: 30px;
    
}
.rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
        color:white;
        padding: 0;
        margin: 0;
            
    }
    
     
    #logo-rodape {
        display: block;
        height: 100x;
        width: 150px;
        margin: 0;
        padding: 10px;

    }