@charset "UTF-8";

@font-face {
    font-family: "merriweathersansBold";
    src: url(../fonte/merriweatherSans/MerriweatherSans-Bold.ttf);
}

@font-face {
    font-family: "merriweatherSans";
    src: url(../fonte/merriweatherSans/MerriweatherSans-Regular.ttf);
}

@font-face {
    font-family: "worksansExtrabold";
    src: url(../fonte/workSans/WorkSans-ExtraBold.ttf);
}

:root {
    --orange: #FFA559;
    --beige: #FBECD9;
    --black: #2B241C;
    --grey: #454545;
    --darkOrange: #FF6000;
    --title: "worksansExtrabold";
    --paragraph: "merriweatherSans";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: var(--beige);
}

/*  HEADER */

nav {
    display: flex;
    justify-content: space-between;
    border-radius: 0   0 1rem 1rem;
    box-shadow: 0 5rem var(--orange);
    background-color: var(--black);
    padding: 2rem 2rem;
    z-index: 1;
}

nav h1 {
    color: var(--orange);
    font-family: var(--title);
    font-size: 2rem;
    transform: translateX(-9rem);
}

nav span {
    color: var(--beige);
}

/* BOTÃO ADICIONAR VIDEO */

#addVideo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#circleAddVideo {
    background-color: var(--orange);
    -webkit-appearance: none;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 5rem;
    position: relative;
    z-index: 3;
}

#circleAddVideo:hover {
    cursor: pointer;
}

#circleOverlay {
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--black);
    border-radius: 100%;
    transform: translateX(-3.1rem);
    z-index: 2;
}

.stroke {
    background-color: var(--black);
    border-radius: 2rem;
    height: 0.2rem;
    width: 2.4rem;
    position: absolute;
    top: 3.6rem ;
    left: 2.5rem;
    transition: ease-in-out 0.3s;
    z-index: 3;
}

.up{
    transform: rotate(90deg);
}

#menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background-color: var(--orange);
    padding: .2rem 2rem;
    margin-left: -4rem;
    border-radius: 0 3rem 0 0;
    z-index: 1;
}

#menuButton a:hover {
    cursor: pointer;
    color: var(--grey);
    font-style: italic;
}

#menuIcon:hover {
    cursor: pointer;
}

#menuIcon {
    height: .5rem;
    width: 4rem;
    border-radius: 2rem;
    position: relative;
    display: block;
    background-color: var(--beige);
    transform: translate(-2rem, 1rem);
}

#menuIcon::before,
#menuIcon::after {
    content: '';
    display: block;
    border-radius: 2rem;
    height: .5rem;
    width: 4rem;
    background-color: var(--beige);
    position: absolute;
    left: 0;
}

#menuIcon::before {
    top: -1rem;

}

#menuIcon::after {
    bottom: -1rem;
}

/* CARREGAR VIDEO */

.newVideo i {
    margin: 1rem 2rem;
    display: block;
    text-align: left;
}


.newVideo {
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: var(--black);
    width: 30vw;
    height: 60vh;
    transform: translate(30vw, 20vh);
    box-shadow: rgba(43, 36, 28, .3) 2rem 2rem,
    rgba(43, 36, 28, .4) -2rem -2rem;
    z-index: 2;
}

.newVideo h2 {
    color: var(--orange);
    font-family: var(--title);
    font-style: italic;
    font-size: 1.5rem;
}

.newVideo h3, i {
    color: var(--beige);
}


.newVideo input[type="file"] {
    position: relative;
    padding: 2rem;
    opacity: 0;
    z-index: 2;
}

.newVideo .overlayInput{
    content: "";
    position: absolute;
    color: var(--beige);
    border: var(--beige) .2rem solid;
    transform: translate(12rem, 6rem);
    top: 0;
    left: 0;
    width: 11rem;
    height: 5rem;
    opacity: 1;
}

.overlayInput:hover, input[type="file"] {
    cursor: pointer;
}

.overlayInput p {
    font-size: .7rem;
    font-family: var(--paragraph);
}

.questionContainer {
    margin-top: 2rem;
    font-family: var(--paragraph);
}

.question input {
    background-color: var(--black);
    color: var(--beige);
    border: none;
    border-bottom: .1rem solid var(--beige);
}

.question input:focus {
    border: none;
    border-bottom: .1rem solid var(--orange);
    outline: none;
}

.question h3 {
    text-align: left;
    margin-left: 30%;
    transform: translateY(90%);
    font-size: 1.3rem;
    transition: .3s ease-in-out;
}

.newVideo input[type="submit"] {
    background-color: #FFA559;
    border: none;
    font-family: var(--title);
    padding: 1rem 2rem;
    margin-top: 2rem;
}

.newVideo input[type="submit"]:hover {
    background-color: var(--darkOrange);
}
/* SIDEBAR */

#abrir, #fechar {
    color: white;
    font-size: 2rem;
}

#fechar:hover, #abrir:hover {
    cursor: pointer;
}

/* SEARCHBOX*/

#searchbarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    width: 100vw;
    height: 5rem;
}

#searchbar {
    background-color: var(--orange);
    width: 35rem;
    height: 3rem;
    border-radius: 2rem;
    border: 2px solid var(--beige);
    font-size: 1.4rem;
    color: var(--beige);
    padding: 1rem;
}

#searchbar:focus {
    outline: none;
    background-color: rgba(251, 236, 217, 0.1);
}

#searchbarButton {
    background-color: var(--orange);
    border: none;
    transform: translateX(-2.1rem);
}

#searchbarButton:focus {
    border: none;
}

#searchbarButton i{
    color: var(--beige);
    background-color: var(--orange);
    outline: none;
    border: none;
}

/* CONTROL BAR */

.controlbarContainer {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.controlbarContainer a {
    text-decoration: none;
    color: var(--black);
}

.controlbarContainer h3 {
    font-family: var(--title);
}

.controlbarContainer h3:hover {
    cursor: pointer;
}

.controlbarContainer h3:last-child {
    color: var(--darkOrange);
}

.underline {
    width: 15%;
    height: .3rem;
    background-color: var(--orange);
    transform: translateX(66vw);
    transition: ease-in-out .5s;
}
/* MAIN */

main {
    background-color: var(--beige);
}

/* CONTAINER  VIDEO*/

.foryou {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--beige);
    padding: 1rem;
    margin: 5rem 0;
}



.videoFY a {
    text-decoration: none;
    color: var(--black);
}

.videoFY {
    width: 25vw;
    height: 40vh;
    border-radius: 1rem;
    border: .1px solid var(--black);
}

.videoFYBanner {
    background: url("../img/agendamento-img1.jpg") center/cover;
    width: 100%;
    height: 70%;
    border-radius: 1rem;
}

.infoFY {
    display: flex;
}

.infoFY h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1.2rem;
}

.roundFY {
    background: url("../img/agendamento-img-avatar1.jpg") center/cover;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    margin: 0.6rem;
    
}

/* BANNER LARANJINHA */

.orangeBanner {
  background-color: var(--orange);
  padding: 1rem 3rem;
}  

.orangeBanner p {
    font-size: 1.2rem;
}

.orangeBanner p:first-child {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1rem;
}

/* CONTAINER VIDEOS AGENDADOS */

.agendados {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--black);
    padding: 1rem;
}

.videoAgendado a {
    text-decoration: none;
    color: var(--beige);
}

.videoAgendado {
    width: 25vw;
    height: 40vh;
    border-radius: 1rem;
    border: .1px solid var(--black);
}

.videoAgendadoBanner {
    background: url("../img/agendamento-img2.jpg") center/cover;
    border-radius: 1rem;
    width: 100%;
    height: 70%;
}

.infoAgendado {
    display: flex;
}

.infoAgendado h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1.2rem;
}

.roundAgendado {
    background: url("../img/agendamento-img-avatar1.jpg") center/cover;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    margin: 0.6rem;
}


/* FOOTER */

footer {
    display: flex;
    background-color: var(--black);
    width: 100vw;
    height: 25vh;
    color: var(--beige);
    justify-content: center;
    align-items: center;
}

footer div img {
    margin: 3rem 0;
}

/* PSEUDO PAGINA */

#myVideosContainer {
    display: flex;
    flex-direction: column-reverse;
}

#myVideosContainer .myVideo{
    margin: 5rem 0;
    
}

.myVideo {
    display: flex;
    justify-content: space-around;
}

.myBanner {
    width: 40vw;
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.myFirstCol {
    flex-grow: .5;
}

.mySecondCol {
    display: flex;
    flex-direction: column;
    flex-grow: .2;

}

.straight-line {
    display: block;
    background-color: var(--black);
    width: 100vw;
    height: .1rem;
}

/* RESPONSIVIDADE */

@media (min-width: 767px) and (max-width: 1000px) {
    .newVideo .overlayInput{
        transform: translate(4rem, 6rem);
    }
}

