.conteudo {
    display: flex;
    gap: 48px;
    padding: 16px 24px;
    flex-direction: row;
    align-items: flex-start;
}

.titulo-post {
    color: #FC6E51;
    padding: 4px 12px;
    margin: 25px 0px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    background-color: #2c231c;
}

.barra-lateral {

    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin-top: 45px;
    min-width: 320px;
    background-color: #ffba81;
}

.titulo-barra-lateral {
    color: #FC6E51;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: #2c231c;
}

.formulario-post {
    width: 100%;
    top: -72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.formulario-post textarea {
    display: block;
    margin: 0 auto;
    width: 90%;
    border: 2px solid #95523f;
    border-radius: 7px;
}

.icone-barra-lateral {
    width: 72px;
}

.profissoes {
    display: grid;
    gap: 24px;
    padding: 16px 24px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.postar {
    top: 10px;
    left: 90px;
    width: 40%;
    padding: 8px 26px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    line-height: 1.25;
    background: #FC6E51;
    text-decoration: none;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden
}

.seguindo {
    display: flex;
    padding: 5px 5px;
    flex-direction: row;
    gap: 08px;
}

.botao-profissao {
    display: flex;
    border-radius: 5px;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    background-color: #ffedd0;
}

.botao-profissao .icone-barra-lateral {
    padding: 8px;
}

.botao-profissao .texto {
    width: 100%;
    padding: 6px;
    color: #e7e7e7;
    text-align: center;
    border-radius: 0 0 5px 5px;
    background-color: #ffa662;
}

.icone-perfil {
    color: #6b2800;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.icone-perfil img {
    display: block;
    width: 100px;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.post {
    display: grid;
    padding: 16px;
    justify-items: start;
    column-gap: 16px;
    grid-template-columns: auto 1fr;
    grid-template-areas:
            "perfil foto"
            "texto foto"
            "comentarios foto"
            "novo-comentario curtir";
    border-radius: 9px;
    background-color: #ffa662;
    border: 2px solid #95523f;
}

.post .icone-perfil {
    grid-area: perfil;
}

.post .comentarios {
    font-size: 14px;
    grid-area: comentarios;
}

.post .comentarios .comentarios-titulo {
    font-weight: bold;
    text-transform: uppercase;
}

.post .comentarios ul {
    list-style: none;
}

.post .comentarios ul .comentario {
    display: grid;
    column-gap: 16px;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "avatar autor"
        "avatar texto";
}

.post .comentarios ul .comentario .comentario-avatar {
    width: 48px;
    height: 48px;
    grid-area: avatar;
}

.post .comentarios ul .comentario .comentario-autor {
    font-weight: bold;
    grid-area: autor;
}

.post .comentarios ul .comentario .comentario-texto {
    grid-area: texto;
}

.post .novo-comentario {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
}

.post .novo-comentario #novo-comentario-texto {
    flex-grow: 1;
    padding: 2px 4px;
    border-radius: 5px;
    border: 2px solid #95523f;
}

.post .novo-comentario .novo-comentario-salvar {
    color: white;
    padding: 0 8px;
    background-color: #FC6E51;
}

.post .curtir {
    grid-area: curtir;
    display: flex;
    font-size: 24px;
    padding: 8px;
    width: 100%;
    cursor: pointer;
    justify-content: flex-end;
}

.post 

.texto-post {
    grid-area: texto;
}

.post img {
    max-height: 256px;
    border-radius: 7px;
    grid-area: foto;
    margin-left: auto;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
    background-color: #2c231c;
    padding: 16px;
}

.logo-rodape {
    display: block;
    margin-bottom: 8px;
}

#seta {
    width: 48px;
    position: fixed;
}

.event {
    font-size: 6px;
    padding: 2px;
    background-color: #ffa662;
    color: rgb(43, 41, 41);
    border-radius: 5px;
    max-height: 30px;
    overflow: hidden;
}
